* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(110deg, rgb(2, 2, 2), rgb(12, 12, 12));
    overflow-x: hidden;

    p {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        color: white;
    }

    a {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        color: white;
    }

    h1 {
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
    }

    button {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        color: white;
    }

}

html {
    scroll-behavior: smooth;
}

/* inicio main */
main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 96vh;

    .fundo-main {
        width: 100%;
        position: absolute;
        object-fit: cover;
        z-index: 0;

        @media(max-width: 500px) {
            width: 100%;
            height: 100%;
        }
    }
}

main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.85));
    z-index: 1;
}


header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem 1rem 1rem;

    @media(max-width: 500px) {
        align-items: center;
        gap: 1rem;

    }

    .logo-header {
        width: 15rem;
        object-fit: cover;
        cursor: pointer;

        @media(max-width: 500px) {
            display: none;
        }

    }


}

nav {
    display: flex;
    gap: 1.1rem;


    a {
        text-decoration: none;
        font-size: 1.13rem;
        transition: 0.3s ease;

        @media(max-width: 500px) {
            font-size: 0.90rem;
        }

        &:hover {
            color: red;
            transition: 0.3s ease;
        }
    }
}

.botoes-header {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    button {
        width: 7rem;
        padding: 0.7rem;
        border: none;
        border-radius: 50rem;
        cursor: pointer;
        background-color: red;
        color: white;
        font-size: 0.9rem;
        transition: 0.4s ease;

        @media(max-width: 500px) {
            width: 6rem;
            padding: 0.6rem;
            margin-top: 0.4rem;
        }


        &:hover {
            background-color: rgb(105, 9, 9);
            transition: 0.4s ease;
        }
    }

    .btn2 {
        border: 2px solid red;
        background-color: transparent;
        transition: 0.4s ease;

        &:hover {
            background-color: rgb(249, 63, 63);
            border: none;
            transition: 0.4s ease;
        }
    }
}


.textos-main {
    position: relative;
    z-index: 2;
    margin: 6rem 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;



    .impact-txt {
        font-size: 3rem;

        @media(max-width: 500px) {
            font-size: 1.65rem;
            width: 40rem;
            display: flex;
            justify-content: center;
            margin-top: -1.3rem;

        }
    }

    .sobre-txt {
        font-size: 1.1rem;
        width: 80rem;
        margin-left: 8rem;
        opacity: 80%;

        @media(max-width: 500px) {
            font-size: 0.85rem;
            width: 32rem;
            text-align: center;
            margin-right: 8rem;
        }
    }

}

.botoes-main {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;


    .btn-fa {
        cursor: pointer;
        width: 9rem;
        padding: 0.9rem;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 10rem;
        font-size: 1rem;
        background: rgb(202, 39, 39);
        transition: 0.3s;


        &:hover {
            /* background: linear-gradient(120deg, rgb(149, 71, 71) , rgb(74, 9, 9)); */
            background-color: rgb(59, 9, 9);
            transition: 0.3s;
        }
    }

    .btn-agenda {
        cursor: pointer;
        width: 9rem;
        padding: 0.9rem;
        color: rgb(0, 0, 0);
        border: none;
        border-radius: 10rem;
        font-size: 1rem;
        background: rgb(182, 182, 182);
        transition: 0.3s;

        &:hover {
            /* background: linear-gradient(120deg, rgb(149, 71, 71) , rgb(74, 9, 9)); */
            background-color: rgb(232, 143, 143);
            transition: 0.3s;
        }
    }
}


.membros {
    margin-top: 4.5rem;

    h1 {
        font-size: 3rem;
        background-image: linear-gradient(185deg, #d21006 40%, #ce7070 60%);
        background-clip: text;
        color: transparent;
        margin-bottom: 3rem;
        text-align: center;

    }
}

.grade-cardsMembros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    align-items: start;
    /* garante que todos os cards comecem no topo */
}

.card-membro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    background: #080808;
    padding: 0.8rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: 0.3s;

    &:hover {
        transform: scale(1.02);
        transition: 0.3s;
    }

    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        border-radius: 8px;
    }

    p {
        font-size: 1.05rem;


    }
}


.albuns {
    margin-top: 7rem;

    h1 {
        font-size: 3rem;
        background-image: linear-gradient(185deg, #d21006 40%, #ce7070 60%);
        background-clip: text;
        color: transparent;
        margin-bottom: 3rem;
        text-align: center;

        @media(max-width: 500px) {
            font-size: 2.5rem;

        }
    }
}

.grade-albuns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media(max-width: 500px) {
        grid-template-columns: 1fr;
        gap: 2.7rem;

    }

}

.card-album {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    strong {
        font-family: "Ubuntu", sans-serif;
        color: white;
        font-size: 1.05rem;
    }

    img {
        width: 19rem;
        height: 18rem;
        border-radius: 0.2rem;
        cursor: pointer;

        @media(max-width: 500px) {
            width: 17rem;
            height: 16rem;
        }

    }

    a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
        font-size: 0.94rem;
        transition: 0.3s;

        &:hover {
            color: red;
            transition: 0.3s;
        }
    }
}

.btn-discografia {
    margin: 3rem 0 0 40rem;
    cursor: pointer;
    width: 15rem;
    padding: 0.9rem;
    color: rgb(255, 255, 255);
    border: 1.7px solid red;
    border-radius: 0.2rem;
    font-size: 1rem;
    background: transparent;
    transition: 0.3s;

    @media(max-width: 500px) {
        margin-left: 8.3rem;
    }

    &:hover {
        background-color: rgb(110, 12, 12);
        border: solid 1.7px rgb(110, 12, 12);
        transition: 0.3s;
    }
}


.container-historia {
    background: rgb(18, 18, 18);
    margin-top: 5rem;
    border-radius: 4rem;
    height: 130vh;

    @media(max-width: 500px) {
        height: 260vh;
    }
}

.titulo-historia {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;

    h1 {
        font-size: 3rem;
        background-image: linear-gradient(185deg, #d21006 40%, #ce7070 60%);
        background-clip: text;
        color: transparent;
        margin-top: 2rem;
        text-align: center;

        @media(max-width: 500px) {
            font-size: 2rem;

        }

    }

    p {
        font-size: 1.1rem;
        opacity: 50%;
        width: 70rem;
        text-align: center;
        margin-left: 11rem;

        @media(max-width: 500px) {
            font-size: 0.8rem;
            width: 33rem;
            text-align: center;
            margin-left: -1rem;
        }
    }
}

.estatisticas-historia {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 3rem;

    @media(max-width: 500px) {
        flex-wrap: wrap;
        gap: 2rem;
        margin-right: 0.5rem;

    }
}

.dado {
    display: flex;
    flex-direction: column;

    h2 {
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        color: white;
        font-size: 8vh;
        text-align: center;
        margin-bottom: 0.7rem;
    }

    p {
        font-size: 1rem;
        opacity: 50%;
    }

    .p1 {
        margin-left: 40px;
    }

    .p2 {
        margin-left: 20px;
    }

    .p3 {
        margin-left: 40px;
    }
}


.main-historia {
    display: flex;
    margin-top: 5rem;
    gap: 20px;

    @media(max-width: 500px) {
        flex-direction: column;
        margin-top: 2rem;
    }

    .img-grupo {
        width: 36rem;
        height: 27rem;
        margin-left: 1rem;

        @media(max-width: 500px) {
            width: 27rem;
            height: 18rem;
            margin-left: 2.4rem;
        }
    }
}

.topic-story {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    width: 26rem;
    border: 1.8px solid red;
    border-radius: 1rem;

    .titulo-story {
        display: flex;
        align-items: center;
        justify-content: space-between;

        strong {
            color: white;
            font-size: 1.2rem;
            font-family: "Ubuntu", sans-serif;
        }

        img {
            width: 2rem;
        }
    }
}

.grade-topicos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-left: 2.5rem;

    @media(max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

/* .grade-topicos:last-child{
    margin
} */

.last-topic {}

footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    background-color: rgb(16, 16, 16);
    padding: 1rem;
    text-align: center;

    .redes-sociais {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}